## Preprocessing Steps ##

#### Data Cleaning
* Remove punctuations from `review_text`
* Lowercase all text
* **Remove samples with repetitive user IDs**
* **Remove 'b' in front of each piece of review text**

#### Match review text with location
* For each piece of review text in `yelp_review_cleaned.csv`, we extract `business_id` to match it with `city` and `state` from the business data 
* Costruct a new csv file with columns `business_id`, `text`, `city`, `state`
* **Remove foreign states (e.g. Vancouver)**

In [25]:
import pandas as pd
import numpy as np
import string
import csv

In [27]:
all_data = pd.read_csv('yelp_academic_dataset_review.csv')

In [28]:
all_data

,review_id,useful,text,business_id,cool,funny,user_id,stars,date
0,b'lWC-xP3rd6obsecCYsGZRg',3,"b""Apparently Prides Osteria had a rough summer...",b'buF9druCkbuXLX526sGELQ',1,1,b'ak0TdVmGKo4pwqdJSTLwWw',4.0,b'2014-10-11 03:34:02'
1,b'8bFej1QE5LXp4O05qjGqXA',1,b'This store is pretty good. Not as great as W...,b'RA4V8pr014UyUbDvI-LW2A',0,0,b'YoVfDbnISlW0f7abNQACIg',4.0,b'2015-07-03 20:38:25'
2,b'NDhkzczKjLshODbqDoNLSg',0,"b""I called WVM on the recommendation of a coup...",b'_sS2LBIGNT5NQb6PD1Vtjw',0,0,b'eC5evKn1TWDyHCyQAwguUw',5.0,b'2013-05-28 20:38:06'
3,b'T5fAqjjFooT4V0OeZyuk1w',1,"b""I've stayed at many Marriott and Renaissance...",b'0AzLzHfOJgL7ROwhdww2ew',1,1,b'SFQ1jcnGguO0LYWnbbftAA',2.0,b'2010-01-08 02:29:15'
4,b'sjm_uUcQVxab_EeLCqsYLg',0,"b""The food is always great here. The service f...",b'8zehGz9jnxPqXtOc7KaJxA',0,0,b'0kA0PAJ8QFMeveQWHFqz2A',4.0,b'2011-07-28 18:05:01'
...,...,...,...,...,...,...,...,...,...
8635398,b'PHnqMOU1pzHbnUMk3Cg2zA',0,"b'In December, I called in (as a returning cus...",b'yyTtwwQ4JnQMJ2rn3W0S0g',0,0,b'6olZ0y9oW9azON61AhwxYg',1.0,b'2021-01-26 04:07:14'
8635399,b'dViF8gg9745CszpekNvp2g',13,b'This guy is a moron that will stalk and hara...,b'RDgwjgbu5xziFIAaNn3WCQ',0,1,b'EPYNZQFuSKqLi-on3U9dFg',1.0,b'2019-05-01 21:21:43'
8635400,b'7vNXRIClt-9rFzMXlrtMXA',39,"b'Yummy, great chew on the bagel\nFriendly sta...",b'rbuj2X4SXIc3MDul4dcxIA',34,13,b'tr13Jb83h2itjyXVwaO5eA',5.0,b'2020-06-13 02:39:26'
8635401,b'Ho57jz6U-JjrGHpGWIGLNg',2,"b""This used to be my car wash of choice. They ...",b'IRzjEZ2pX4iOpnBG7oZJ7g',0,0,b'HqdmRMpNvScFxjGAB40vgQ',2.0,b'2020-06-22 21:54:10'
8635402,b'YNyurWy1ZIYEy1vXI7azOg',11,"b""This is so highly rated for a reason. If you...",b'pxwYIa1jZzHJ4R0Sp1cHFw',5,4,b'HsT8bz3-SKMk7YidwLLM6Q',5.0,b'2019-04-17 04:27:39'

In [24]:
user_ids = np.array(all_data['user_id'])
print(f'Total number of user IDSs: {user_ids.size}')
unique_user_ids, unique_user_id_indices = np.unique(user_ids, return_index=True)
print(f'Number of unique user IDs: {unique_user_ids.size}')
print(f'Number of unique indices: {indices.size}')

Total number of user IDSs: 8635403
Number of unique user IDs: 2189457
Number of unique indices: 2189457

In [37]:
unique_user_ids

array(["b'---2PmXbF47D870stH1jqA'", "b'---7FS-3SMy-cnnIPHcW9w'",
       "b'---fQxo-9tYZAkyWYrSfdA'", ..., "b'zzzcuxFaP_FvdIB-fbP9iA'",
       "b'zzzl5-rnSu3jclcANGsLgg'", "b'zzzqnB-6DlYUbqAPxUxg4A'"],
      dtype=object)

### Filter out samples with repetitive user IDs

In [ ]:
def clean_text(text):
    # remove punctuations
    clean_text = [char for char in text if char not in string.punctuation]
    clean_text = ''.join(clean_text)
    # lower case all text
    clean_text = clean_text.lower()
    return clean_text

clean_data_path = 'yelp_review_cleaned.csv'
column_names = ['business_id', 'user_id', 'text']

with open(clean_data_path, 'w') as csv_file:
    csv_file = csv.writer(csv_file)
    csv_file.writerow(column_names)
    
    for idx in unique_user_id_indices:
        cleaned_text = clean_text(all_data['text'][idx][1:])
        business_id = all_data['business_id'][idx].split("'")[1]
        user_id = all_data['user_id'][idx]
        csv_file.writerow([business_id, user_id, cleaned_text])

In [69]:
business_data_path = "yelp_academic_dataset_business.csv"
clean_data_path = 'yelp_review_cleaned.csv'

clean_text = pd.read_csv(clean_data_path)
business_info = pd.read_csv(business_data_path)
clean_text.head()

              business_id                                               text
0  y_c38tCm3aQps72zSGW4Lw  what a wonderful evening and what a gracious h...
1  GzFD07Y8SbSF5ZPfhmR_ig  my first experience with these folks was downr...
2  zu2MOe5SZtvJUzVJBhgvpw  this is by far my favorite cafxc3xa9 ever the ...
3  OLj0IIty__HPZjiefd1BkA  casual atmosphere  the service could be slow i...
4  RRCLBnBD7c6HWBurhIHAXA  the food and ambiance was excellent during our...

In [70]:
import json

with open('us_states.json') as json_file:
    us_states = json.load(json_file)

all_states = [state['Code'] for state in us_states]
print(f'Total number of states: {len(all_states)}')
print(all_states)
'BC' in all_states

Total number of states: 51
['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

False

In [71]:
from itertools import *

ensemble_data_path = 'ensemble.csv'
column_names = ["city", "state", "text"]

text_business_ids = np.array(clean_text['business_id'])
all_business_ids = np.array(business_info['business_id'])
all_cities = np.array(business_info['city'])
all_states = np.array(business_info['state'])
    
# write a new csv file with column names: city, state, text
with open(ensemble_data_path, 'w') as csv_file:
    csv_file = csv.writer(csv_file)
    csv_file.writerow(column_names)
    
    for i in islice(count(), 0, len(text_business_ids)-1):
        item_loc = np.where(all_business_ids == text_business_ids[i])[0][0]
        state = all_states[item_loc]
        if state in all_states and state != 'BC':
            city = all_cities[item_loc]
            review_text = clean_text['text'][item_loc]
            csv_file.writerow([city, state, review_text])

In [72]:
import pandas as pd

ensemble_data_path = 'ensemble.csv'
ensemble_data = pd.read_csv(ensemble_data_path)

In [73]:
ensemble_data.head()

        city state                                               text
0     Smyrna    GA  been on the east coast for a month and this is...
1     Boston    MA  it says on here and in the search results that...
2  Lake Mary    FL  fantastic food atmosphere and service i had th...
3     Austin    TX  great higher end mall loads of stores and some...
4    Orlando    FL  i absolutely love this place the food was amaz...

In [36]:
ensemble_data['text'][1][1:]

'my pup was due for his shots and while my vet didnt charge a lot for them he did charge 40 for a mandatory check up so i decided to try emancipet and give them a donationnyes there was a wait to see the vet but it was only in the neighborhood of 30 minutes when i got in the nurse is the right term was very pleasant seeing what i wanted  and taking care of business the vet was very pleasant also and yes there was a charge for her check up 5nthe only draw back was the wait to pay  im not sure whether the holdup was the doctor getting my chart to the bookkeeper or the bookkeeper but it was well over ten minutes and longer then it should have been on top of that someone who finished after i did was able to check out before me  never a pleasing eventnwhen i was able to check out i added a donation to the bill which i hate to admit would have been bigger if i had been checked out more efficientlynas for as im concerned emancipet is now my dogs vet and i will continue to use them and make a regular donation i love the idea that they enable people who may not otherwise be able afford a pet andor pet care have a place to go for their pets welfare'

In [ ]:
ensemble = pd.read_csv('ensemble.csv')
text = np.array(ensemble['text'])
print(f'Total text: {text.size}')

In [ ]:
unique_review, unique_review_indices = np.unique(text, return_index=True)
print(f'Number of unique reviews: {unique_review.size}')

In [ ]:
column_names = ["city", "state", "text"]

with open('ensemble2.csv', 'w') as csv_file:
    csv_file = csv.writer(csv_file)
    csv_file.writerow(column_names)
    
    for idx in unique_review_indices:
        csv_file.writerow([ensemble['city'][idx], ensemble['state'][idx], ensemble['text'][idx] ])